{% extends 'STR/base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
    <div class="container body-teacher">
        <h1>Преподаватели</h1>
        <div class="row info">
            <div class="col-md-12">
                <div class="infovote">
                    <div class="semester">
                        Семестр
                    </div>
                    <div class="timer">
                        Таймер
                    </div>
                </div>
            </div>
        </div>
        {% load static %}
        <script src='{% static "STR/js/StarRating.js" %}'></script>
        <div id="row" class="row teacher">
            {% if data %}
                {% for item in data %}
                    <div class="col-md-4">
                        <div type="button" class="card" onclick="showModalWin('{{ item.teacher_subject.id }}')">
                            <h6>{{ item.teacher_subject.teacher_id.surname }} {{ item.teacher_subject.teacher_id.name }} {{ item.teacher_subject.teacher_id.lastname }}</h6>
                            <img src="{% static 'STR/media/userava.png' %}" alt="User avatar"/>
                            <!-- {% for subjTeach in subjectTeacher %}
                        {% if subjTeach.teacher_id == el.id %}
                            {% for subj in subjects%}
                                {% if subj.id == subjTeach.subject_id %}
                                <script>
                                    var viewSubjectName = null;
                                    var viewSubjectType = null;
                                    viewSubjectName = '{{ subj.name }}';
                                    viewSubjectType = '{{ subj.type }}';
                                    console.log("WORKING")
                                    console.log("Name: " + viewSubjectName);
                                    console.log("Type: " + viewSubjectType)
                                </script>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endfor %} -->
                            <div class="markANDsubject">
                                <p id="SubjectName">{{ item.teacher_subject.subject_id.name }}</p>
                                <p id="SubjectType">{{ item.teacher_subject.subject_id.type }}</p>
                            <!-- <script>
                        var subjname = document.getElementById('SubjectName');
                        var subjtype = document.getElementById('SubjectType');
                        
                        if (subjname != null && subjtype != null)
                        {
                            subjname.innerHTML = Window.viewSubjectName;
                            switch(Window.viewSubjectType)
                            {
                                case "1": subjtype.innerHTML = "Лекция";
                                case "2": subjtype.innerHTML = "Практика";
                            }
                        }
                        else console.log("Ничего нет!")
                    </script> -->
                                <p>Почта: {{ item.teacher_subject.teacher_id.email }}</p>
                                <!-- <div class="markstars"> -->
                                <div class="markavg" type="text" id="markavg{{ item.teacher_subject.id }}">{{ item.grade_avg }}</div>
                                <div class="starratingavg">
                                    <div class="stars__body">
                                        <div class="stars__active" id="stars__active{{ item.teacher_subject.id }}"></div>
                                        <div class="stars__items">
                                            <input type="radio" class="stars__item" value="1" name="star3">
                                            <input type="radio" class="stars__item" value="2" name="star3">
                                            <input type="radio" class="stars__item" value="3" name="star3">
                                            <input type="radio" class="stars__item" value="4" name="star3">
                                            <input type="radio" class="stars__item" value="5" name="star3">
                                        </div>
                                    </div>
                                </div>
                                <!-- </div> -->
                            </div>
                        </div>
                        <br>
                    </div>
                    <div class="popup" id="popup">
                        <div class="headerpopup">Оценивание</div>
                        <form method="get">
                            {% csrf_token %}
                            <input id="id_input" name="id_input" value="0" style="visibility: collapse;">

                            <div id="half-stars-example">
                                {% if item.crits_data %}
                                    {% for crit_obj in item.crits_data %}
                                        <div class="form_item">
                                            <h2>{{ crit_obj.crit.name }}:</h2>
                                            <div class="rating rating_set" id="rating{{ crit_obj.crit.id }}">
                                                <div class="rating__body">
                                                    <div class="rating__active"></div>
                                                    <div class="rating__items">
                                                        <input type="radio" class="rating__item" value="1" name="rating{{ crit_obj.crit.id }}">
                                                        <input type="radio" class="rating__item" value="2" name="rating{{ crit_obj.crit.id }}">
                                                        <input type="radio" class="rating__item" value="3" name="rating{{ crit_obj.crit.id }}">
                                                        <input type="radio" class="rating__item" value="4" name="rating{{ crit_obj.crit.id }}">
                                                        <input type="radio" class="rating__item" value="5" name="rating{{ crit_obj.crit.id }}">
                                                    </div>
                                                </div>
                                                <div type="text" class="rating__value" id="rating_value-1">{{ crit_obj.user_grad }}</div>
                                            </div>
                                            <!-- <h2>Общая оценка: </h2>
                                                    <div class="rating rating_set" id="rating5" readonly >
                                                        <div class="rating__body">
                                                            <div class="rating__active"></div>
                                                            <div class="rating__items">
                                                                <input type="radio" class="rating__item" value="1" name="rating5">
                                                                <input type="radio" class="rating__item" value="2" name="rating5">
                                                                <input type="radio" class="rating__item" value="3" name="rating5">
                                                                <input type="radio" class="rating__item" value="4" name="rating5">
                                                                <input type="radio" class="rating__item" value="5" name="rating5">
                                                            </div>
                                                        </div>
                                                        <div type="text" class="rating__value" id="rating_value-5">0</div>
                                                    </div> -->
                                        </div>
                                    {% endfor %}
                                {% endif %}
                                <div class="form-save">           
                                    <button type="submit" class="form_btn btn" name="save_button">Сохранить</button>
                                </div>
                            </div>
                            
                        </form>
                    </div>
                {% endfor %}
                <script>
                function showModalWin(variable) {
                    let id_input = document.getElementById('id_input');
                    id_input.setAttribute('value', variable-1);
                    
                    var darkLayer = document.createElement('div'); // слой затемнения
                    darkLayer.id = 'shadow'; // id чтобы подхватить стиль
                    document.body.appendChild(darkLayer); // включаем затемнение
     
                    var modalWin = document.getElementById('popup{{ el.id }}'); // находим наше "окно"
                    initRatings('#popup{{ el.id }}');
                    modalWin.style.display = 'unset'; // "включаем" его
     
                    darkLayer.onclick = function () {  // при клике на слой затемнения все исчезнет
                        darkLayer.parentNode.removeChild(darkLayer); // удаляем затемнение
                        modalWin.style.display = 'none'; // делаем окно невидимым
                        return false;
                    };
                }
         
                    let divTeachers = document.getElementById("row");
                    let numberOfChildren = divTeachers.getElementsByClassName('col-md-4').length;

                    for (let i = 0; i < numberOfChildren; i++)
                    {
                        let markavg = document.getElementById('markavg' + (i+1)).textContent;
                        console.log(element.id);
                        markavg = markavg.replace(/,/, '.');

                        // console.log(markavg);
                        // console.log(parseFloat(markavg));
                        document.getElementById('stars__active' + (i+1)).style.width = (parseFloat(markavg) / 5.0 * 100.0) + "%";
                    }
                </script>
            {% else %}
                <p>У нас нет записей</p>    
            {% endif %}
        </div>
    </div>
{% endblock %}